<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">  
  </head>  
  <body>
    <h1>Create New Code Snippet</h1>
    <a href="http://localhost:3000/main"><button>Return to Home Page</button></a> 
    <a href="http://localhost:3000/logout"><button>Logout</button></a>                                  
    <form class = "addSnippetForm" action="/main" method="POST">
      <input type="text" required = "required" name="title" placeholder="Title">
      <hr>
      <textarea name="body" required = "required" rows="10" cols="50" placeholder = "Insert Code Body">{{body}}</textarea>
      <textarea name="notes" rows="10" cols="50" placeholder = "Notes (optional)">{{notes}}</textarea>      
      <hr>     
      <select placeholder = "Language" required = "required" name="language">
          <option value="" selected>Select a Language!</option>          
          <option value="css">CSS</option>     
          <option value="html">HTML</option>  
          <option value="javascript">Javascript</option>                              
      </select> 
      <select placeholder = "Tags" required = "required" name="tags">
          <option value="" selected>Select a tag!</option>          
          <option value="styling">Styling</option>     
          <option value="markup">Markup</option>  
          <option value="functionality">Functionality</option>                             
      </select>
      <hr>
      <input type="submit" name="" value="Create New Code Snippet">
      <div class = "ballers">
      </div>
    </form>
  </body>
</html>

