<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">  
</head>  
  <body>
    <h1>Congratulations!</h1>
    <p>You have successfully created your account!</p>
    <a href = "http://localhost:3000/main"><button>Click to Browse All Code Snippets</button></a>
  </body>
</html>