<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">  
</head>  
  <body>
    <h1>Hello! Welcome to the Snippet Manager home page!</h1>
    {{#user}}
    <div class = "links">
        <a href="http://localhost:3000/viewsnippets/{{_id}}"><button>View All Your Posted Snippets</button></a>        
        <a href="http://localhost:3000/addsnippet"><button>Add New Code Snippet</button></a>
        <a href="http://localhost:3000/snippetsbytag"><button>View Snippets by Tag Name</button></a>                      
        <a href="http://localhost:3000/snippetsbylanguage"><button>View Snippets by Language</button></a>                              
        <a href="http://localhost:3000/logout"><button>Logout</button></a>                              
      </div>
    {{/user}}
    <div class = "allSnippets">    
        {{#snippetsLoad}}                            
    <a href = "http://localhost:3000/singleSnippet/{{_id}}">
      <div class = "allSnippetInfo">
        <h1>Title: {{title}}</h1>
        <p class = "codeBody">Code body: {{body}}</p>
        <p class = "notesBody">Notes: {{notes}}</p>
        <h2>Language: {{language}}</h2>
        <h2>Tags: {{tags}}</h2>
      </div>      
      </a>
      {{/snippetsLoad}}              
    </div>
  </body>
</html>