<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">  
</head>  
  <body>
    <h1>View Snippets by Tag Name</h1>
    <div class = "links">
        <a href="http://localhost:3000/main"><button>Return to Home Page</button></a>
        <a href="http://localhost:3000/logout"><button>Logout</button></a>        
    </div>
    <div class = "snippetTags">    
          <li><a href = "http://localhost:3000/html">HTML Tags</a></li>
          <li><a href = "http://localhost:3000/css">CSS Tags</a></li>
          <li><a href = "http://localhost:3000/javascript">Javascript Tags</a></li>          
    </div>
  </body>
</html>