<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">  
</head>  
  <body>
    <h1>Styling Tags</h1>
    <div class = "links">
        <a href="http://localhost:3000/main"><button>Return to Home Page</button></a>
    </div>
    <div class = "allSnippets">    
        {{#snippetsLoad}}                            
    <a href = "http://localhost:3000/singleSnippet/{{_id}}">
      <div class = "allSnippetInfo">
        <h1>Title: {{title}}</h1>
        <p>Code body: {{body}}</p>
        <p>Notes: {{notes}}</p>
        <h2>Language: {{language}}</h2>
        <h2>Tags: {{tags}}</h2>
      </div>      
      </a>
      {{/snippetsLoad}}              
    </div>
  </body>
</html>